
  .footer {
    padding: 3rem 0;
    background-color: white;
    color: black;
    
    .foot-end {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      color: #5E6282;
    }
  
    .footer-top {
      margin-bottom: 2rem;
  
      .list-unstyled {
        padding: 0;
        list-style: none;
        margin-top: 25px;
  
        li {
          margin-bottom: 0.5rem;
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          color: #5E6282;
        }
      }
  
      h5 {
        font-family: Poppins;
        font-size: 21px;
        font-weight: bold;
        color: #080809;
      }
  
      .foot-head {
        font-family: Poppins;
        font-size: 44px;
        font-weight: 500;
        color: #181E4B;
      }
  
      .foot-ph {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        color: #5E6282;
        margin-right: 34px;
  
        @media (max-width: 991px) {
          margin-right: 0px;
        }
      }
  
      .social-image-sec {
        display: flex;
        gap: 10px;
  
        .social-sec {
          width: 50px;
          height: 50px;
        }
  
        .social-two {
          width: 104px;
          height: 35px;
        }
  
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
  
          .social-sec,
          .social-two {
            width: 80px;
            height: auto;
          }
        }
  
        @media (max-width: 576px) {
          flex-direction: column;
          align-items: center;
  
          .social-sec,
          .social-two {
            width: 70px;
            height: auto;
          }
        }
      }
  
      .foot-social-ph {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        color: #5E6282;
        text-align: center;
      }
    }
  
    .footer-bottom {
      padding-top: 1rem;
  
      p {
        margin-bottom: 0;
      }
    }
  
    @media (max-width: 768px) {
      .footer-top {
        text-align: center;
  
        .list-unstyled {
          li {
            margin-bottom: 0.5rem;
          }
        }
      }
  
      .social-links {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  
    @media (max-width: 576px) {
      padding: 2rem 1rem;
  
      .footer-top,
      .footer-bottom {
        text-align: center;
      }
    }
  }
  