.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    margin-bottom: 70px;
    
    .partner-card {
      border: none;
      margin: 0.5rem;
      transition: transform 0.3s ease;
      width: 140px;
      height: 60px;
  
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
  
      .card-img-top {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        width: 100%;
        height: auto;
  
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  
    @media (min-width: 576px) {
      .partner-card {
        width: 120px; 
      }
    }
  
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
  
      .partner-card {
        width: 140px; 
      }
    }
  
    @media (min-width: 992px) {
      .partner-card {
        width: 160px; 
      }
    }
  
    @media (min-width: 1200px) {
      .partner-card {
        width: 180px; 
      }
    }
  
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      height: 1024px;
      margin-bottom: 50px;
  
      .partner-card {
        width: 80%;
        margin: 0.5rem 0;
      }
    }
  }
  